<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora SRI</title>
</head>
<body>
    <nav>
        <a class="btn btn-outline-warning" routerLink="/" routerLinkActive="activo">Home</a>
        <a class="btn btn-outline-warning" routerLink="/informacion" routerLinkActive="activo">Información</a>
        <a class="btn btn-outline-warning" routerLink="/formulario" routerLinkActive="activo">Registro de Facturas</a>
        <a class="btn btn-outline-warning" routerLink="/reporte" routerLinkActive="activo">Reporte</a>
    </nav>
</body>
</html>