<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Calculadora SRI</title>
</head>
<body>
  <div class="container">
    <form>
      <div class="form-group">
        <img src="assets/rentas3.jpg" alt="Banner">
        <h1 class="text-center text-primary">Calculadora SRI</h1>
        <h6 class="text-center">Registro y Cálculo del impuesto a la Renta</h6>
        <app-menu></app-menu>
        <menu></menu>
        <router-outlet></router-outlet>
      </div>
    </form>
  </div>
</body>
</html>