body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 135vh;
    margin: 0;
}

ul {
    text-align: center;
}

.card {
    display: inline-block;
    margin: 10px;
    width: 18rem;
}